<!Document html fille>
<html>
    <head>
        <title>Md. Ashkuzzaman</title>
        <script type="text/javascript">
            function popup()
                {
                    alert("Your CV Successfuly Created ");
                }
        </script>
          
    </head>
    <body bgcolor="#faebd7 ">
        <div id="wrapper">
        
        <font size="08" type="blod" color="#8F82FF "><center>CURRICULUM VITAE</center></font>
             <table>
                <tr align="left">
                <th><font size="06" type="blod" color="gray"><u>Personal Informanion</u></font></th>
                <th><font size="06" type="blod">:-</font></th>
                <th></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod" >Name</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod" >Father Name</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Mother Name</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><input type="text" name=""></font></th>
                </tr>

                <tr align="left">
                <th><font size="05" type="blod">Present & Mailling</font></th>
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod"></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Address</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod">Vill-&nbsp<input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod">P\O- <input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod">PS-&nbsp&nbsp<input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod">Dist-<input type="text" name=""></font></th>
                </tr>

                <tr align="left">
                <th><font size="05" type="blod">Parmanent Address</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod">Vill-<input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod">P\O- <input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod">PS-&nbsp&nbsp<input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod"></font></th>
                <th><font size="05" type="blod">Dist-<input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Contract Number</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Date of Birth</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><select><option>Day</option></select><select><option>Month</option></select><select><option>Year</option></select></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Marital Status</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><select><option>Single</option></select></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Religion</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><input type="text" name=""></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Blood Group</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><select><option>A(+)</option><option>A(-)</option><option>B(+)</option><option>A(-)</option><option>AB(+)</option><option>O(+)</option></select></font></th>
                </tr>
                <tr align="left">
                <th><font size="05" type="blod">Height</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><input type="text" name=""></font></th>
                <tr align="left">
                <th><font size="05" type="blod">Nationality</font></th>
                <th><font size="05" type="blod">:</font></th>
                <th><font size="05" type="blod"><select><option>Bangladesh</option><option>India</option></select></font></th>
                </tr>
                </table>

                <u><h1>Educational Qualification</h1></u> 
                
                <table width="100%" border="03" >
                    <tr align="center" bgcolor="gray">
                    <th><font size="04" color="White" >Name of Degree</font></th>
                    <th><font size="04" color="White">Board/University</font></th>
                    <th><font size="04"color="White" >Depertment</font></th>
                    <th><font size="04" color="White">Year of Passing</font></th>
                    <th><font size="04"color="White" >GPA</font></th>
                    </tr>
                    <tr align="center">
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><select><option>Year</option><option>2008</option></select></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    </tr>

                    <tr align="center">
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><select><option>Year</option><option>2008</option></select></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    </tr>

                    <tr align="center">
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    <th><font size="04" ><select><option>Year</option><option>2008</option></select></font></th>
                    <th><font size="04" ><input type="text" name=""></font></th>
                    </tr>
                </table>
                <br>
                <br>
                <center><u><h1>Computer Literacy</h1></u> </center>

                    <input type="checkbox" name="">Strong Knowledge of operating system Windows<br>
                    <input type="checkbox" name="">Application and software-All MS office<br>
                    <input type="checkbox" name="">Internet Browsing Email & Free lancer<br>
                    <input type="checkbox" name="">Android application<br>
                    <input type="checkbox" name="">Programing Language(C,C++,Java  & C Sharp)<br>
                    <input type="checkbox" name="">Robotics<br>
                <br>
                <br>
               <center> <input type="submit" onclick="popup()" name="" value="Submit"></center>
        </form>
           
         </div>
            
        </div>
    </body>
</html>